<!DOCTYPE html>
<html>

<head>
  <title>Graphixo</title>
  <link rel="icon" type="image/x-icon" href="static/favicon (1).png">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
 
    <h1>
        CHOOSE FILE
       </h1>
  <p>
    <img class="padded" src="static/logo.png" width="600" height="305">
    <form action="/Lupload" method="post" enctype="multipart/form-data">
      <label for="images" class="drop-container" id="dropcontainer">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file" name="file">
        <input type="submit" value="Upload and Generate Charts">
      </label></p>
    </form>
  </div>    
</body>

</html>
