<!DOCTYPE html>
<html>
<head>
    <title>Graphixo</title>
    <link rel="icon" type="image/x-icon" href="static/favicon (1).png">
    <link rel="stylesheet" type="text/css" href="static/style2.css">
    <style>
        .image-button {
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: background-color 0.3s, box-shadow 0.3s;
        }
        .image-button:hover {
            background-color: #f0f0f0; /* Change this color to your desired hover background color */
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add drop shadow on hover */
        }
    </style>
</head>
<body>
    <div id="tbldiv">
        <div class="dropdown">
            <button class="tablink1">Features</button>
            <div class="dropdown-content">
                <a href="#">PIE CHART</a>
                <a href="#">LINE GRAPH</a>
                <a href="#">BAR GRAPH</a>
            </div>
        </div>
        <button class="tablink" onclick="scrollingtool();">About tool</button>
        <button class="tablink" onclick="scrollingus();">About us</button>
    </div>

    <img class="padded" src="static/logo.png" width="600" height="305">
    <div class="imgs">
        <p>
            <img class="image-button" id="myImage" src="static/bar.jpeg" alt="5 Terre" width="200" height="200"  alt="Click me" />
            <script>
                var image = document.getElementById("myImage");
                image.addEventListener("click", function() {
                   window.location.href = "/Bput"; 
                });
            </script>

            <img class="image-button" id="myImage1" src="static/line.jpg" alt="5 Terre" width="200" height="200" alt="Click me" />
            <script>
                var image = document.getElementById("myImage1");
                image.addEventListener("click", function() {
                    window.location.href = "/Lput"; 
                });
            </script>
      
            <img class="image-button" id="myImage3" src="static/pie.png" alt="5 Terre" width="200" height="200" alt="Click me" />
            <script>
                var image = document.getElementById("myImage3");
                image.addEventListener("click", function() {
                    window.location.href = "/Pput"; 
                });
            </script>
        </p>
    </div>
    <br><br><br><br><br>
    <div>
        <h1>About tool</h1>
        <p>Data visualization is the representation of data through the use of common graphics, such as charts, plots, infographics, and even animations. These visual displays of information communicate complex data relationships and data-driven insights in a way that is easy to understand. Data visualization tools are software applications that render information in a visual format such as a graph, chart, or heat map for data analysis purposes. Such tools make it easier to understand and work with massive amounts of data. With effective data visualization tools, people can make data-driven decisions without having to spend valuable time trying to wrangle raw data into an interpretable format. Properly configured, data visualization software does that work for you, sifting through vast stores of information to present only the most meaningful, relevant data.
        </p>
    </div>
    <br>
    <div>
        <h1>About Us</h1>
        <br><br><br>
        <p>
            <img class="padded" src="static/GRP.jpg" width="600" height="400">
        </p>
    </div>    
</body>
</html>
<script type="text/javascript">
    function scrollingtool() {
        window.scrollTo({
            top: 780,
            behavior: 'smooth',
        });
    }
    function scrollingus() {
        window.scrollTo({
            top: 1835,
            behavior: 'smooth',
        });
    }
</script>
